b
{

}

.egg1
{
display:none;border: 5px solid green;
}
.egg
{
display:none;border: 5px solid cyan;height: 100px;
}

.signedin
{
 display:none;
}
.banner
{
 display:none;
}

.bilder
{
 display:none;
}

.berichte
{
 display:none;
}

.EnB
{
 display:none;
}
