// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a
{
-webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}

.roterrand
{
border: 2px solid #3c3841;    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

.gruenerhintergrund
{
background:#847991;
}


#eineebene
{
     border: 12px solid #293438;margin-left: 215px;margin-right: 0px;margin-top: 202px;background:#293438;-webkit-border-radius: 50px
}

#eineebene h2
{
color: #ffffff;   
}

#eineebene h3
{
color:#f19324;   
}

#eineweitereebene
{
     border: 0px solid #847991;
}


#Berichtliste
{
color: #ffffff;
font-family: 'NunitoRegular';
}


.berichte
{
       border: 5px solid #9ccf10;-webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background:#9ccf10;
    width:100px; position:absolute; top:90px; left:40px;

}
.bilder
{
       border: 5px solid #9ccf10;-webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background:#9ccf10;
    width:100px; position:absolute; top:165px; left:40px;

}

.Berichtrahmen
{
  border: 1px solid #f19324;-webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
}

.banner
{
background: #f19324;margin-top: 0px;margin-left: 0px;margin-right: 0px;width: 100%;-webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px; 
    -moz-border-radius: 5px; 
}

.egg
{
  border: 3px solid red;margin-top: 30px;margin-right: 600px;margin-left: 200px;
}